.guarantee {
  padding-left: 110px;
  padding-right: 210px;
  padding-top: 90px;
  display: flex;
}

.guarantee-block {
  padding-left: 120px;
}

.guarantee-title {
  padding-top: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.guarantee-button {
  display: flex;
  justify-content: center;
  width: 149px;
  height: 40px;
  margin-top: -11px;
  background: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.guarantee-button:hover {
  background: #c29974;
}

.guarantee-button:active {
  background: #cfaf91;
}

.guarantee-description {
  position: relative;
  top: -26px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.guarantee-list {
  bottom: 21px;
  position: relative;
  width: 326px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.guarantee-list input {
  display: none;
  position: relative;
}

.guarantee-list label {
  margin-bottom: 7px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.guarantee-list input[type="radio"]:checked + label {
  position: relative;
  right: 60px;
  bottom: 14x;
  width: 326px;
  height: 55px;
  background-color: #e2f1f8;
  z-index: 1;
  padding-left: 60px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
  display: flex;
  align-items: center;
}

.guarantee-list label:hover {
  font-family: Crimson Text;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.guarantee-block-input {
  margin-bottom: 10px;
  outline: none;
}
