.information {
  padding-left: 110px;
  padding-right: 147px;
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
}

.about-us {
  margin-right: 57px;
}

.information-title-contacts {
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.information-title-design {
  margin-top: 0px;
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.information-title-small {
  padding-left: 30px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.information-button {
  width: 123px;
  height: 40px;
  margin-top: 20px;
  margin-left: 30px;
  background: #000000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
}

.information-button:hover {
  background: #c29974;
}

.information-button:active {
  background: #cfaf91;
}

.contacts {
}

.maps {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.information-description-contacts {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.information-description-about {
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.information-background-about-us {
}

.information-background-about-us::before {
  content: "";
  z-index: -1;
  margin-top: 26px;
  position: absolute;
  width: 543px;
  height: 236px;
  background-color: #e1f0f7;
}

.information-background-contacts {
}

.information-background-contacts::before {
  content: "";
  z-index: -1;
  margin-top: 26px;
  position: absolute;
  width: 543px;
  height: 209px;
  background-color: #e1f0f7;
}
