.parters-block {
  padding-top: 79px;
  padding-left: 110px;
  padding-right: 110px;
}

.parters-block-list {
  display: flex;
}

.parters-block-item {
  padding-right: 127px;
}

.parters-block-item:hover {
 opacity: 0.75;
}

.visibility-hidden {
  display: none;
}
