.slider {
  padding-left: 110px;
  padding-right: 110px;
  max-width: 1180px;
  min-height: 500px;
}

.one-image-slider {
  float: right;
  margin-right: 99px;
}

.slider-one-number {
  margin-top: 88px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: #e3d8d0;
}

.slider-bottom {
  display: none;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-block-nav {
  margin-top: 14px;
  margin-left: 32px;
}

.slider-bottom-block {
  display: flex;
  position: relative;
  bottom: 3px;
  align-items: center;
  justify-content: center;
  background: #c29974;
  width: 1180px;
  height: 39px;
}

.slider-one-title-big {
  width: 307px;
  padding-top: 181px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #1e0606;
}

.slider-one-title-small {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.slider-button {
  cursor: pointer;
  margin-left: -2px;
  width: 163px;
  height: 42px;
  margin-bottom: 89px;
  margin-top: -2px;
  background: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.slider-button:hover {
  background: #c29974;
}

.slider-button:active {
  background: #cfaf91;
}

.slider-button:disabled {
  background: #c1c1c1;
  color: #e1e1e1;
}

.text-block-slider {
  margin-left: 42px;
  margin-top: -3px;
}

.slider-button-page:hover {
  background: #715f5c;
}

.slider-button-page:active {
  background: #715f5c;
}

.slider-background {
  display: flex;
  position: relative;
}

.slider-background::before {
  content: "";
  z-index: -1;
  margin-top: 86px;
  position: absolute;
  display: block;
  width: 1180px;
  background-color: #eee4db;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider-block-item {
  outline: none;
  width: 1px;
  margin-bottom: -4px;
}

.slider-block-item-page {
  display: inline-block;
  cursor: pointer;
  width: 31px;
  height: 3px;
  background-color: #d6cac2;
}

.slider-block-item-page-active {
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}

.slider-block-item-page:hover {
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}
