.social-network-block-list {
  display: flex;
}

.social-network-block-item {
  margin-right: 10px;
}

.social-network-block-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(/Images/social/Facebook.svg);
}

.social-network-block-link:hover {
  opacity: 0.4;
}

.social-network-block-link:active {
  opacity: 0.2;
}

.social-network-block-link.facebook {
  background-image: url(/Images/social/Facebook.svg);
}

.social-network-block-link.twitter {
  background-image: url(/Images/social/Twitter.svg);
}

.social-network-block-link.pinterest {
  background-image: url(/Images/social/Pinterest.svg);
}

.social-network-block-link.instagram {
  background-image: url(/Images/social/instagram.svg);
}
