* {
  font-family: "Open Sans", "Montserrat", "Roboto", "Crimson Text", Arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  cursor: pointer;
  border: none;
  display: flex;
  background-color: #000000;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #c29974;
}

.button:active {
  background-color: #cfaf91;
}

.button:disabled {
  background-color: #c1c1c1;
  color: #e1e1e1;
}

.visibility-hidden {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -9999px;
}
