.guarantee {
  padding: 53px 210px 0px 110px;
  display: flex;
}

.guarantee-block {
  padding-left: 120px;
}

.guarantee-title {
  padding-top: 33px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
}

.guarantee-button {
  width: 149px;
  height: 40px;
  margin-top: -11px;
}

.guarantee-description {
  position: relative;
  top: -26px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.guarantee-list {
  bottom: 21px;
  position: relative;
  width: 326px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;
}

.guarantee-item,
.guarantee-item-active {
  border: none;
  margin-bottom: 6px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 44px;
  color: #1e0606;
}
.guarantee-item {
  cursor: pointer;
  background-color: transparent;
  padding-left: 0px;
}

.guarantee-item-active {
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 60px;
  width: 326px;
  height: 55px;
  background-color: #e2f1f8;
  padding-left: 60px;
}

.guarantee-item:hover {
  font-weight: bold;
}
