.popup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(125, 151, 218, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.popup-open .popup {
  display: flex;
}

.popup-form {
  position: relative;
  padding: 20px 41px 39px;
  background-color: #e5eaf8;
  max-width: 680px;
  min-height: 540px;
  margin-bottom: 159px;
}
.input-label {
  user-select: none;
  margin-bottom: 6px;
  display: block;
  margin-top: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
}

.inputs-row-two {
  display: flex;
}

.input-item::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.input-item {
  padding: 14px 20px 11px;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}

.input-item:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.checkbox-input {
  opacity: 0;
  position: absolute;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.checkbox-block input[type="checkbox"]:focus + label {
  outline: 1px solid rgb(0, 0, 0);   
}

.checkbox-block {
  display: flex;
  padding: 22px 15px 20px 0px;
}

.checkbox-text {
  padding-left: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #1e0606;
}

.input-label-checkbox {
  margin-top: -5px;
  cursor: pointer;
  position: absolute;
}

.input-label-checkbox::before {
  margin-top: 3px;
  margin-right: 15px;
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-label-checkbox::after {
  color: #c29974;
  position: absolute;
  left: 3px;
  top: 3px;
  content: url(/Images/Vector-contact-us-chack-box.png);
}

.checkbox-input:checked + .input-label-checkbox::after {
  content: "";
}

.popup-form-button-submit {
  width: 106px;
  height: 40px;
  margin-top: 20px;
}

.popup-form-button-close {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 101%;
  bottom: 100%;
  width: 0%;
  height: 0%;
}

.popup-form-button-close:hover {
  opacity: 0.6;
}

.popup-form-button-close:active {
  opacity: 0.4;
}

.popup-chackbox-text {
  user-select: none;
  position: relative;
  top: -4px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.contact-us-input-email {
  margin-left: 23px;
}

.contact-us-input-email-input,
.contact-us-input-phone {
  width: 290px;
  height: 50px;
  padding: 14px 20px 11px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;
}
.contact-us-input-item:hover,
.contact-us-input-phone:hover,
.contact-us-input-email-input:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.textarea {
  width: 600px;
  height: 150px;
}
