.slider {
  padding: 0 110px;
  max-width: 1180px;
  min-height: 500px;
}

.one-image-slider {
  float: right;
  margin-right: 99px;
}

.slider-one-number {
  margin-top: 88px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 60px;
  line-height: 73px;
  color: #e3d8d0;
}

.slider-block-nav {
  margin-top: 14px;
  margin-left: 32px;
}

.slider-bottom-block {
  display: flex;
  position: relative;
  bottom: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c29974;
  min-width: 1180px;
  min-height: 39px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-one-title-big {
  width: 307px;
  padding-top: 181px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 44px;
  color: #1e0606;
}

.slider-one-title-small {
  padding: 20px 0px;
  font-family: "Crimson Text", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.slider-button {
  width: 163px;
  height: 42px;
  margin: -2px 0px 89px -2px;
}

.text-block-slider {
  margin-left: 42px;
  margin-top: -3px;
}

.slider-button-page:hover {
  background-color: #715f5c;
}

.slider-button-page:active {
  background-color: #715f5c;
}

.slider-background {
  display: flex;
  position: relative;
}

.slider-background::before {
  content: "";
  z-index: -1;
  margin-top: 86px;
  position: absolute;
  display: block;
  width: 1180px;
  background-color: #eee4db;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider-block-item {
  width: 1px;
  margin-bottom: -4px;
}

.slider-block-item-page {
  border: none;
  display: inline-block;
  cursor: pointer;
  width: 31px;
  height: 3px;
  background-color: #d6cac2;
}

.slider-block-item-page-active {
  pointer-events: none;
  border: none;
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}

.slider-block-item-page:hover {
  width: 31px;
  height: 3px;
  background-color: #715f5c;
}
